* {
  box-sizing: border-box;

  font-family: Arial, san-serif;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
}

.container {
  display: flex;
 justify-content: center;
 flex: 1 1 auto;
}

.calculator-body  {
  
  display: flex;
  flex-direction: column;
  align-self: center;
  
  gap: 5px;
  background-color: #2f3740;
  padding: 12px;
  height: 600px;
  width: 400px;

  border-radius: 20px;
}

.display {
  min-height: 165px;
  background-color: #d0cccf;
  text-align: right;
  color: #4188eb;
  font-size: 80px;
  padding-right: 25px;
  padding: 25px;

  border-radius: 20px;

  margin-bottom: 15px;
}

.row {
  display: flex;
  height: 75px;
  gap: 5px;
}

.button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #d5d1d1;
  
  /* border: 1px solid black; */
  transition: all 0.07s;
  text-align: center;

  border-radius: 20px;
}

.button.calculate {
  background-color: #4188eb;
}

.button.operator {
  background-color: #377f79;
}

.button.clear {
  background-color: #ea2a46;
}

.button.backspace {
  background-color: #ffc600;
}


.btn.num {
  color: #4188eb;
}

.btn.char {
  color: #e9f0fa;
}

.btn.dot {
  color: #4188eb;
}

button {
  background-color: transparent;
  width: 100%;
  height: 100%;

  border-radius: 20px;
}




.playing {
  transform:scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

